html {
    background-image: url("../images/backmusic.jpg");
    background-repeat: repeat;
    background-size: cover;
    background-color: rgb(189, 228, 179);
}

@font-face {
    font-family: 'astron-boy-video'; 
    src: url('../font/astron-boy.video.ttf'); 
}

h1 {
    padding: .3em; 
    font-size: 4em;
    background-color: rgba(142, 1, 155, 0.5);
    text-align: center;
    font-family: 'astron-boy-video';
    color: white;
}

.timeRemain, .timeCounter {
    text-align: center;
    font-size: 2em;
    font-family: 'astron-boy-video';
    color: white;
    background-color: rgba(142, 1, 155, 0.5);
    padding: .5em;
    width: 40%;
    margin: auto;
}

.containerCounter {
    margin-bottom: 2em;
}

.containerTally {
    font-size: 1.5em;
    font-family: 'astron-boy-video';
    background-color: rgba(142, 1, 155, 0.5);
    color: white;
    margin: auto;
    margin-left: 2em;
    float: left;
    width: 10%;
    padding: 1em;
    border: .2em dashed;
}

#mainArea {
    width: 50%;
    margin: auto;
    text-align: center;
    font-size: 2em;
    font-family: 'astron-boy-video';
    background-color: rgba(142, 1, 155, 0.5);
    color: white;
    padding: 1em;
    border: .2em dashed;
}

ul, 
li {
    padding-top: 1em;
}

.btn {
    background: rgba(142, 1, 155);
    width: 100%;
    border: none;
    background-color: inherit;
    cursor: pointer;
    display: inline-block;
    font-size: 1em;
    font-family: 'astron-boy-video';
    color: white;
}
  
.btn:hover {
    background: rgba(142, 1, 155);
    width: 100%;
}

img {
    max-width: 50%;
    height: auto;
    width: auto\9;
}

.navbar-brand:after {
    clear: both;
  }

.navbar-nav {
    position: absolute;
    float: right;
}

a:link,
a:visited,
a:hover {
    text-decoration: none;
    color: #dddddd;
  }

.foot-link {
    align-content: left;
}

.navbar-footer {
    position: absolute;
    float: left;
}

.fixed-bottom {
    position: fixed;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    display: block;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: .5rem 1rem;
}